.common{
    position: absolute;
   /* border: 5px solid black;
    background-color: aliceblue;
    padding: 5px;*/

}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-style: italic;
    font-size: sm;
    background-color: lightcyan;
}
.top{
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 1;
}
.content{
    top: 100px;
    left: 0px;
    right: 0px;
    height: 100%;
}
.nav{
    position: relative;
    float: right;
    color: white;
    z-index: 1;

}